.ArticleWrapper {
  overflow: hidden;
  h1 {
    font-size: 36px;
  }
  .Col-1 {
    h1 {
      text-align: center;
    }
  }
  .align-center {
    text-align: center;
  }
  .PageHeader {
    background: linear-gradient(270deg, #43c0c4 0%, #179fa4 100%);
    position: relative;
    padding: 200px 0 30px;
    text-align: center;
    .PageTitle {
      color: #fff;
      font-size: 45px;
      margin-top: 20px;
      font-weight: bold;
    }
    .WriterInfo {
      margin-top: 100px;
      color: #fff;
    }
    .ArticleInfo {
      margin-top: -30px;
      overflow: hidden;
      color: white;
      font-size: 14px;
      .CommentsCount {
        float: right;
      }
      .WriteDate {
        float: left;
      }
    }
  }
  .ArticleContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    .ArticleSocials{
      float: right;
      width: 60px;
      text-align: center;
      .ArticleLikes {
        font-size: 16px;
      }
      .ArticleLikeIcon {
        background: #dcdd4d;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 10px;
        line-height: 60px;
        i {
          color: #fff;
        }
      }
      .ArticleSocialLinks {
        i {
          display: block;
          color: #666890;
          margin-top: 20px;
        }
      }
    }
    .ArticleContent {
      p {
        padding: 0 15px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin: 20px 0;
        color: #284d82;
        &:first-child {
          padding-left: 80px;
          position: relative;
          >span:first-child{
            font-size: 100px;
            position: absolute;
            left: 5px;
            top: 25px;
            color: #272950;
          }
          // &::first-letter{
          //   font-size: 36px;
          //   font-weight: bold;
          //   float: left;
          // }
        }
        &.highlight {
          font-size: 35px;
          line-height: 50px;
          font-style: italic;
          color: #272950;
        }
      }
      img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      li {
        color: #284d82;
      }
    }
  }
  .MightLikes {
    margin-top: 50px;
    .MightLikesTitle {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 40px;
      text-align: center;
      font-weight: bold;
      color: #112645;
    }
    &>div {
      position: relative;
      &:after{
        content: '';
        position: absolute;
        height: 1px;
        width: calc(100% - 90px);
        left: 45px;
        bottom: 0;
        background: #eee;
      }
    }
  }
  .Replies {
    margin: 50px auto;
    .RepliesHeader {
      overflow: hidden;
      margin-bottom: 30px;
      .RepliesTitle {
        float: left;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.28px;
      }
      .RepliesSorts {
        float: right;
        span {
          font-size: 16px;
          line-height: 36px;
          margin: 10px;
          color: #666890;
          &.actived {
            color: #272950;
          }
        }
      }
    }
  }
  .YourComment {
    h2 {
      color: #112645;
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      letter-spacing: 0.5px;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
    .description {
      font-size: 12px;
      color: #666890;
      line-height: 12px;
      text-align: right;
    }
    textarea {
      width: 100%;
      height: 200px;
      resize: none;
      border: 1px solid rgba(102, 104, 144, 0.2);
      padding: 10px 20px;
      border-radius: 2px;
      &::placeholder{
        color: #284d82;
      }
    }
    input {
      &::placeholder{
        color: #284d82;
      }
    }
    .Button {
      transform: translateY(-50px);
    }
  }
}

@media (min-width: 1920px) {
}
@media (max-width: 1339px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .ArticleWrapper {
    overflow: hidden;
    h1 {
      font-size: 36px;
    }
    .Col-1 {
      h1 {
        text-align: center;
      }
    }
    .align-center {
      text-align: center;
    }
    .PageHeader {
      background: linear-gradient(270deg, #43c0c4 0%, #179fa4 100%);
      position: relative;
      padding: 200px 0 30px;
      text-align: center;
      .PageTitle {
        color: #fff;
        font-size: 45px;
        margin-top: 20px;
        font-weight: bold;
      }
      .WriterInfo {
        margin-top: 100px;
        color: #fff;
      }
      .ArticleInfo {
        margin-top: 0px;
        overflow: hidden;
        color: white;
        font-size: 14px;
        .CommentsCount {
          float: right;
        }
        .WriteDate {
          float: left;
        }
      }
    }
    .ArticleContainer {
      .ArticleSocials{
        display: none;
      }
    }
    .YourComment {
      .Button {
        transform: translateY(0px);
        margin: 30px auto;
        display: block;
      }
    }
  }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}