.CareersWrapper {
  overflow: hidden;
  h1 {
    font-size: 36px;
  }
  .Col-1 {
    h1 {
      text-align: center;
    }
  }
  .align-center {
    text-align: center;
  }
  .PageHeader {
    background-image: url("assets/images/back_round.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: $half;
    position: relative;
    padding: 200px 0 100px;
    .PageName {
      text-align: center;
    }
    .PageTitle {
      color: #fff;
      font-size: 45px;
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
    }
    .PageDescription {
      color: #fff;
      font-size: 18px;
      text-align: center;
      margin: 50px auto;
      line-height: 30px;
      max-width: 860px;
    }
    .PageMore {
      width: 70px;
      height: 70px;
      position: absolute;
      bottom: 30px;
      left: calc(50% - 35px);
      background: #fff;
      border-radius: 50%;
      box-shadow: 0px 1px 20px 0px rgba(46, 162, 166, 0.4);
      color: #2ea2a6;
      text-align: center;
      line-height: 70px;
    }
  }
  .Careers {
    padding-top: 50px;
    padding-bottom: 100px;

    span.selector {
      display: inline-block;
      margin: 30px 20px;
      color: #5176ae;
      &.actived {
        color: #000;
      }
    }
  }
  .UploadBenefits {
    max-width: 1080px;
    margin: 0 auto 50px;
    .form-title {
      overflow: hidden;
      .form-title-text{
        float: left;
        width: 40%;
        color: #112645;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
      }
      .form-title-or{
        float: left;
        width: 60%;
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 30px;
        color: #262e3f;
        a {
          color: #48b3b7;
        }
      }
    }
    .form-inputs {
      overflow: hidden;
      margin: 30px 0;
      .Input {
        float: left;
        width: calc(50% - 5px);
        &:last-child{
          margin-left: 10px;
        }
      }
    }
    .upload-panel {
      padding: 35px 20px;
      border: 2px dashed #a2c1ee;
      border-radius: 4px;
      overflow: hidden;
      margin: 30px 0;
      .upload-filename {
        line-height: 50px;
        float: left;
        color: #284d82;
      }
      .upload-button {
        float: right;
        line-height: 50px;
        width: 150px;
        text-align: center;
        color: #284d82;
        cursor: pointer;
        border: 1px solid rgba(40, 77, 130, 0.2);
        background: rgba(162, 193, 238, 0.1);
        border-radius: 4px;
      }
    }
    .benefits-panel {
      overflow: hidden;
      padding-top: 30px;
      .benefits-item{
        width: 50%;
        float: left;
        padding-left: 24px;
        line-height: 45px;
        position: relative;
        color: #284d82;
        &:before{
          content: '';
          width: 14px;
          height: 14px;
          background: #dcdd4d;
          border-radius: 50%;
          border: 2px solid #fff;
          box-shadow: 0 2px 4px rgba(220, 221, 77, 0.3);
          position: absolute;
          top: 16px;
          left: 4px;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
}
@media (max-width: 1339px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .CareersWrapper {
    .UploadBenefits {
      .form-title {
        text-align: center;
        .form-title-text{
          width: 100%;
        }
      }
      .benefits-panel {
        .benefits-item {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 575px) {
}