.ContactWrapper {
  position: relative;

  .Head {
    position: relative;
    background-image: url(assets/images/back_contact.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .Heading {
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 200px 0;

      label {
        font-weight: 600;
        line-height: 20px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #DCDD4D;
        background: rgba(220, 221, 77, 0.1);
        border-radius: 19.5px;
        padding: 5px 18px;
        display: block;
        width: 200px;
        margin: auto;
      }

      h1 {
        font-weight: 600;
        line-height: 60px;
        font-size: 45px;
        text-align: center;
        letter-spacing: .5px;
        color: white;
        margin-top: 19px;
        margin-bottom: 32px;
      }

      p {
        line-height: 30px;
        font-size: 18px;
        text-align: center;
        letter-spacing: .5px;
        color: #EEFEFF;
        max-width: 840px;
        margin: 0 auto 32px;
      }

      .Contacts {
        .contactus-header-item {
          line-height: 24px;
          font-size: 16px;
          letter-spacing: 1px;
          color: #FFFFFF;
          align-items: center;
          display: flex;
          margin-bottom: 15px;

          &>div {
            float: left;
          }

          &>div:first-child {
            background: #DCDD4D;
            border-radius: 8px;
            color: white;
            width: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 20px;
            margin-right: 17px;
          }
          &>div:last-child {
            width: calc(100% - 70px)
          }
        }
      }
    }
  }

  .ContactForm {
    margin: 0px auto 50px;
    position: relative;
    top: 0px;

    > img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .Buttons {
      display: flex;
      justify-content: center;
      z-index: 1;
    }

    .Form {
      border-radius: 10px;
      padding: 50px;
      box-shadow: 0 10px 40px rgba(40, 77, 130, 0.05);
      background-color: #fff;
      background-image: url(assets/images/waves.svg);
      background-size: 100% auto;
      background-position: bottom center;
      background-repeat: no-repeat;
      margin-top: -150px;
      > div > div {
        margin-bottom: 60px;
      }

      .FormFooter {
        p {
          line-height: 25px;
          font-size: 18px;
          letter-spacing: .5px;

          color: #284D82;
          padding-bottom: 20px;
        }
        label {
          font-size: 18px;
          letter-spacing: 0.5px;
          line-height: 25px;
          color: #284d82;
        }
        input[type=checkbox] {
          margin-right: 40px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            background: #284d82;
            border-radius: 5px;
            top: -7px;
            left: 0;
          }
          &:checked:after{
            content: '\f00c';
            position: absolute;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            color: #fff;
            top: -7px;
            font-family: FontAwesome;
          }
        }
      }
      .Buttons {
        text-align: center;
      }
    }
  }
  .OurTeam {
    max-width: 1280px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    
    h1 {
      text-align: center;
    }
  }
}
