.HomeWrapper {
  .IntroWrapper {
    background-image: url("assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    position: relative;
    padding: 200px 0 100px;

    .Ribbon {
      color: $yellow;
      font-weight: bold;
      line-height: 35px;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 150px;
      display: inline-block;

      &:before {
        content: '';
        position: absolute;
        width: calc(50vw - 100% + 150px);
        height: 35px;
        top: 0;
        right: calc(100% - 150px);
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        background: $yellow-ribbon;
      }
    }

    .Intro {
      h1 {
        font-weight: 600;
        line-height: 60px;
        font-size: 45px;
        letter-spacing: .5px;
        color: #FFFFFF;
        margin: 30px 0;
      }

      p {
        line-height: 27px;
        font-size: 18px;
        letter-spacing: .5px;
        color: #EEFEFF;
        margin-bottom: 50px;
      }
    }
    img {
      max-width: 100%;
    }
  }

  > *:not(:first-child) {
    label {
      font-weight: 600;
      line-height: 20px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #48B3B7;
      background: rgba(65, 188, 192, 0.1);
      border-radius: 19.5px;
      padding: 5px 18px;
      display: inline-block;
    }

    h1 {
      font-weight: 600;
      line-height: 60px;
      font-size: 45px;
      text-align: center;
      letter-spacing: .5px;
      color: #112645;
      margin-top: 10px;
      margin-bottom: 28px;
    }

    p {
      line-height: 30px;
      font-size: 18px;
      text-align: center;
      letter-spacing: .5px;
      color: #284D82;
      max-width: 842px;
      margin: 0 auto 82px;
    }

    .Buttons {
      text-align: center;
      margin-bottom: 50px;

      .Button {
        margin: 0 10px 30px;
      }
    }

    &.EmailForm {
      label {
        color: #95F2F5;
        background: linear-gradient(90deg, #40C2C6 -1.91%, #41BBBF 100%);
      }

      h1 {
        color: #FFFFFF;
      }

      p {
        color: #EEFEFF;
        margin-bottom: 63px;
      }
    }
  }

  .Section1 {
    text-align: center;
    margin-top: 125px;
    .Cloud {
      margin: auto;
      max-width: 370px;
      margin-bottom: 50px;
    }
    .Automation {
      margin: auto;
      max-width: 370px;
      margin-bottom: 50px;
    }
    .Security {
      margin: auto;
      max-width: 370px;
      margin-bottom: 50px;
    }

    .ThingsCanDo {
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 0px;

      > div {
        * {
          text-align: left;
        }

        .ImageWrapper {
          height: 208px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h1 {
          font-weight: 600;
          line-height: 50px;
          font-size: 36px;
          letter-spacing: .5px;
          color: #112645;

          margin: 33px 0 20px;
        }

        p {
          line-height: 25px;
          font-size: 16px;
          letter-spacing: .5px;
          color: #284D82;
          margin-bottom: 20px;
        }

        a {
          font-weight: bold;
          line-height: 15px;
          font-size: 15px;
          letter-spacing: 1px;
          text-transform: uppercase;

          color: #48B3B7;
        }

        ul {
          list-style: none;
          padding-left: 40px;

          li {
            line-height: 25px;
            font-size: 18px;
            letter-spacing: .5px;
            color: #284D82;
            margin-bottom: 10px;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              background: url("assets/images/home/section1/list_style.svg");
              width: 25px;
              height: 25px;
              left: -40px;
            }
          }
        }
      }
    }
  }

  .Clients {
    margin-bottom: 71px;

    img {
      width: 100%;
    }
  }

  .EmailForm {
    background-image: url("assets/images/back_float.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 200px 0;

    .SliddingForm {
      width: 80%;
      max-width: 600px;
      margin: 0 auto 80px;
      position: relative;

      input.Input {
        line-height: 30px;
        font-size: 18px;
        letter-spacing: .5px;
        color: #284D82;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        border-radius: 45px;
        border: none;
        padding: 27px 50px;
        outline: none;

        &.Valid {
          width: calc(100% - 96px);
        }
      }

      .Button {
        line-height: 85px;
        border-radius: 45px;
        text-align: right;
        font-size: 20px;
        letter-spacing: 1.33333px;
        padding-right: 30px;
        color: #fff;
      }
    }

    .Info {
      background: linear-gradient(180deg, rgba(65, 187, 190, 0.0001) 0%, #44C7CA 100%);
      border-radius: 5px;
      padding: 40px 0;
      width: 100%;
      font-weight: 600;
      font-size: 36px;
      text-align: center;
      letter-spacing: .5px;
      color: #FFFFFF;

      > span {
        font-size: 20px;
        text-align: center;
        letter-spacing: .5px;
        color: #FFFFFF;
        line-height: normal;
        font-weight: normal;
        display: block;
        margin-top: 10px;
        white-space: nowrap;
      }
    }
  }

  .Blog {
    margin-top: 100px;
    text-align: center;

    .Blogs {
      margin-bottom: 80px;

      .Main {
        position: relative;
        cursor: pointer;

        .Back {
          width: 100%;
          height: 530px;
          background-size: cover;
          background-position: center;
          background-image: url(assets/images/home/blog.png);
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          display: inline-grid;
          float: left;
          margin-bottom: 30px;

          img {
            width: 100%;
          }

          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(39, 41, 80, 0.0110111) 67.46%, #272950 100%);
          }
        }
        &:hover .Back:after {
          background: linear-gradient(180deg, rgba(67, 192, 196, 0.7) 0%, rgba(55, 170, 173, 0.8) 100%);
        }

        .Info {
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 15px;
          padding: 45px 42px;

          .UserInfo {
            display: none;
            align-items: center;

            img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              margin-right: 10px;
              margin-top: 3px;
            }

            .User {
              color: $white;

              .Name {
                line-height: 27px;
                font-size: 20px;
                letter-spacing: .5px;
                margin-bottom: 7px;
              }

              .Extra {
                display: flex;
                line-height: 14px;
                font-size: 14px;

                i {
                  margin-right: 10px;
                }

                > div {
                  margin-right: 30px;
                }
              }
            }
          }

          .Divider {
            background: linear-gradient(270deg, #38ACAF 0%, #ffffff 100%);
            height: 1px;
            width: 100%;
            opacity: .5;
            margin: 19px 0;
            display: none;
          }

          h1 {
            font-weight: 600;
            line-height: 50px;
            font-size: 36px;
            letter-spacing: .5px;

            color: #FFFFFF;
            margin: 0;
            text-align: left;
          }
        }
      }

      .Examples {
        .Example {
          position: relative;
          margin-bottom: 30px;
          cursor: pointer;

          .Image {
            width: 100%;
            height: 250px;
            background-size: cover;
            background-position: center;
            position: relative;
            border-radius: 10px;
          }
          &:first-child {
            .Image{
              background-image: url(assets/images/home/blog_example1.png);
            }
          }
          &:last-child {
            .Image{
              background-image: url(assets/images/home/blog_example2.png);
            }
          }

          .Image:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 10px;
            background: linear-gradient(360deg, rgba(39, 41, 80, 0.8) 0%, rgba(39, 41, 80, 0.0001) 50%);
          }
          &:hover .Image:after {
            background: linear-gradient(180deg, rgba(67, 192, 196, 0.7) 0%, rgba(55, 170, 173, 0.8) 100%);
          }

          .Title {
            font-weight: 600;
            line-height: 32px;
            font-size: 24px;
            letter-spacing: .5px;
            text-align: left;

            color: #FFFFFF;
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
            padding: 20px;
          }
        }
      }
    }
  }
  .TestimoialSection {
    margin-bottom: 50px;
    h2{
      margin: 20px 0;
    }
    p {
      margin: 30px 0;
      text-align: left;
      font-size: 18px;
      letter-spacing: 0.5px;
    }
    .row {
      div:last-child {
        .Button {
          display: none;
        }
      }
    }
  }
  .Opportunities {
    padding-top: 50px;
    margin-bottom: 50px;
    h2{
      margin: 20px 0;
    }
    p {
      margin: 30px 0;
      text-align: left;
      font-size: 18px;
      letter-spacing: 0.5px;
    }
    img {
      max-width: 100%;
    }
    .row {
      div:last-child {
        img {
          display: none;
        }
      }
    }
  }
  .About {
    border-top: 1px solid rgba(102, 104, 144, 0.2);
    border-bottom: 1px solid rgba(102, 104, 144, 0.2);
    .row>div {
      position: relative;
      padding: 50px;
      &:first-child {
        border-right: 1px solid rgba(102, 104, 144, 0.2);
      }
      a {
        display: block;
        color: #48B3B7;
        font-weight: bold;
      }
    }
    h2 {
      margin: 30px 0;
    }
    p {
      text-align: left;
      margin-bottom: 70px;
    }
  }
}

.LikeWrapper {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: white;
  }

  &.Liked {
    background: #DCDD4D;
  }
}

@media (min-width: 1920px) {
}
@media (max-width: 1339px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .HomeWrapper {
    .TestimoialSection {
      .ColorText {
        margin: auto;
        display: block;
        width: 140px;
      }
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      .row {
        div:first-child {
          .Button {
            display: none;
          }
        }
        div:last-child {
          .Button {
            display: block;
            margin: auto;
          }
        }
      }
    }
    .Opportunities {
      .ColorText {
        margin: auto;
        display: block;
        width: 200px;
      }
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      .row {
        div:first-child {
          img {
            display: none;
          }
        }
        div:last-child {
          img {
            display: block;
            margin: auto;
          }
          .Button {
            display: block;
            margin: auto;
          }
        }
      }
    }
    .IntroWrapper {
      padding: 200px 0 100px;
      text-align: center;
      background-position: top center;

      .Ribbon {
        width: 180px;
        margin: auto;
        display: block;
        background: $yellow-20;
        border-radius: 18px;

        &:before {
          display: none;
        }
      }
    }
    .About {
      .row>div {
        &:first-child {
          border-right: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .HomeWrapper {
    .Blog {
      .Blogs {
        .Main {
          .Back {
            height: 250px;
          }
          .Info {
            padding: 20px;
            bottom: 30px;
            h1 {
              font-size: 24px;
              line-height: 32px;
              text-align: center;
            }
          }
        }
        .Examples .Example .Title {
          text-align: center;
        }
      }
    }
    .EmailForm {
      .SliddingForm {
        padding-top: 100px;
        input.Input {
          height: 85px;
          &.Valid {
            width: 100%;
          }
        }
        .Button {
          text-align: center;
          padding-right: 0;
          width: 60%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
@media (max-width: 575px) {
}