.HeaderWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  display: flex;
  width: 81.4%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  .NavWrapper {
    a {
      text-transform: uppercase;
      position: relative;
      margin: $size25;

      &.Active:after {
        content: '';
        position: absolute;
        width: $size20;
        height: 2px;
        background: $white;
        bottom: -5px;
        left: calc(50% - 10px);
      }
    }
  }
}
