.StoriesWrapper {
  overflow: hidden;
  h1 {
    font-size: 36px;
  }
  .Col-1 {
    h1 {
      text-align: center;
    }
  }
  .align-center {
    text-align: center;
  }
  .PageHeader {
    background-image: url("assets/images/back_round.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: $half;
    position: relative;
    padding: 200px 0 100px;
    .PageName {
      text-align: center;
    }
    .PageTitle {
      color: #fff;
      font-size: 45px;
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
    }
    .PageDescription {
      color: #fff;
      font-size: 18px;
      text-align: center;
      margin: 50px auto;
      line-height: 30px;
      max-width: 860px;
    }
    .PageMore {
      width: 70px;
      height: 70px;
      position: absolute;
      bottom: 30px;
      left: calc(50% - 35px);
      background: #fff;
      border-radius: 50%;
      box-shadow: 0px 1px 20px 0px rgba(46, 162, 166, 0.4);
      color: #2ea2a6;
      text-align: center;
      line-height: 70px;
    }
  }
  .Stories {
    max-width: 1280px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;

    span.selector {
      display: inline-block;
      margin: 30px 20px;
      color: #5176ae;
      font-weight: 600;
      &.actived {
        color: #112645;
      }
    }
  }
}
