.TeamMember {
    margin-top: 100px;
    margin-bottom: 30px;
    box-shadow: 0px 15px 30px rgba(162, 193, 238, 0.1);
    padding: 70px 30px 50px;
    float: left;
    position: relative;
    width: 340px;
    margin: 100px 15px 30px;

    img {
        position: absolute;
        left: 30px;
        top: -50px;
    }
    h2 {
        text-transform: capitalize;
        color: #112645;
    }
    .JobTitle{
        color: #48b3b7;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 15px;
        margin-bottom: 20px;
    }
    p {
        color: #284d82;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    i {
        color: #284d82;
        font-size: 15px;
        margin-right: 20px;
    }
}
