.AppWrapper {
  * {
    letter-spacing: $letter;
  }

  h1 {
    font-size: $h1;
    line-height: $h1-height;
    font-weight: 600;
  }

  a {
    font-size: $a;
    line-height: $a-height;
    letter-spacing: $letter1-5;
    text-decoration: none;
  }

  p {
    font-size: $p;
    line-height: $p-height;

    &.naw {
      line-height: $p-naw-height;
    }
  }

  label {
    font-size: $label;
    line-height: $label-height;
    letter-spacing: $letter3;
  }

  button {
    color: $white;
    font-size: $button;
    font-weight: $bold;
    // line-height: $button-height;
    letter-spacing: $letter1;
    text-align: center;
    text-transform: uppercase;

    border: none;
    border-radius: $size65 / 2;
    line-height: $size65;

    cursor: pointer;
    outline: none;
    padding: 0 42px;
  }
  .Container {
    max-width: 1280px;
    margin: auto;
  }
  .Row {
    margin: 0 -15px;
    overflow: hidden;
  }
  .Col {
    padding: 0 15px;
    float: left;
  }
  .Col-1 {
    width: 100%;
  }
  .Col-2 {
    width: 50%;
  }
  .Col-3 {
    width: 33.33%;
  }
  .Col-4 {
    width: 25%;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
}
