$color: #112645;
$color-cyan: rgba(102, 104, 144, 0.2);
$color-light: #A2C1EE;
$white: #ffffff;
$color-yellow: #DCDD4D;
$green: linear-gradient(270deg, #43C0C4 0%, #37AAAD 100%);
$green-gradient: linear-gradient(270deg, #43C0C4 0%, #179FA4 100%);
$yellow: linear-gradient(270deg, #D5D655 0.28%, #DCDD4D 100%);
$yellow-ribbon: linear-gradient(90deg, rgba(200, 201, 97, 0.0001) 0%, rgba(220, 221, 77, 0.4) 100%);

$font-family: 'Open Sans';
$font-weight: normal;

$tiny: 25px;
$low_height: 35px;
$common_height: 65px;