$color: #112645;
$white: #ffffff;
$green: linear-gradient(270deg, #43C0C4 0%, #37AAAD 100%);
$green-gradient: linear-gradient(270deg, #43C0C4 0%, #179FA4 100%);
$yellow: linear-gradient(270deg, #D5D655 0.28%, #DCDD4D 100%);

$font-family: 'Open Sans';
$font-weight: normal;

$tiny: 25px;
$low_height: 35px;
$common_height: 65px;